<%= render 'shared/page_title', title: "All Chefs" %>

<ul class="nav nav-tabs">
  <li>
    <%= link_to "Recipes", recipes_path %>
  </li>
  <li  class="active">
    <%= link_to "Chefs", chefs_path %>
  </li>
</ul>

<%= will_paginate @chefs %>

<% @chefs.each do |chef| %>
<hr />
<div class="row">
  <div class="col-md-4 center">
    <%= gravatar_for chef, size = 200 %>
  </div>
  <div class="col-md-8 pull-left">
    <h3><%= chef.email %></h3>
    <span>Created at: <%= chef.created_at.strftime("%d/%m/%Y") %></span>
  </div>
</div>

<% end %>