<%= render 'shared/page_title', title: @chef.chefname %>

<div class="row">
  <div class="col-md-4 center">
    <%= gravatar_for @chef, size = 200 %>
  </div>
  <div class="col-md-8 pull-left">
    <h3><%= @chef.email %></h3>
    <span>Created at: <%= @chef.created_at.strftime("%d/%m/%Y") %></span>
  </div>
</div>
<hr />
<h1><span class="label label-default"><%= @chef.chefname %>'s recipes</span></h1>
<%= will_paginate @recipes %>
<% @recipes.each do |recipe| %>
  <div class="row">
    <div class="col-md-offset-2"></div>
    <div class="col-md-3 center">
      <%= image_tag(recipe.picture.url, size: "250x150", class: "gravatar") if recipe.picture? %>
    </div>
    
    <div class="col-md-7 well">
      <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
      <p><%= recipe.summary %></p>
      <p>
        <span class="quiet"><small>created <%= time_ago_in_words(recipe.created_at) %> ago, </small></span>
        <span class="quiet"><small>updated <%= time_ago_in_words(recipe.updated_at) %> ago</small></span>
      </p>
      <div class="pull-right">
        <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= recipe.thumbs_up_total %>
        <% end %> &nbsp&nbsp
        
        <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= recipe.thumbs_down_total %>
        <% end %>
      </div>
    </div>

  </div>
  <hr />
<% end %>